@model MVCApplication.Models.Product

@{
    ViewBag.Title = "Product Details";
}

<h2>Product Details</h2>

<p>
    Here is the detail info of the Product
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detail)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Detail)
        </td>
    </tr>

</table>
